/aapt/bin/*
/aapt/gen/*

/debug/bin/*
/debug/gen/*

/PullToRefresh/bin/*
/PullToRefresh/gen/*

/release/bin/*
/release/gen/*

/safecitypeople/bin/*
/safecitypeople/gen/*

/safecitypolice/bin/*
/safecitypolice/gen/*
