/aapt/*
/debug/*
/gradle/*
/PullToRefresh/*
/release/*
/safecitypeople/.settings/*
/safecitypeople/bin/*
/safecitypeople/gen/*
/safecitypeople/.classpath
/safecitypeople/.project
/safecitypeople/build.gradle
/safecitypeople/ic_launcher-web.png
/safecitypeople/proguard-project.txt
/safecitypeople/project.properties

/safecitypolice/.settings/*
/safecitypolice/bin/*
/safecitypolice/gen/*
/safecitypolice/.classpath
/safecitypolice/.project
/safecitypolice/build.gradle
/safecitypolice/ic_launcher-web.png
/safecitypolice/proguard-project.txt
/safecitypolice/project.properties
/safecitypeople/.settings
